<div class="well">
<%= form_for object do |f| %>
  <%= f.label :username, 'Username' %>
  <%= f.text_field :username %>
  <br />

  <%= f.label :password, 'Password' %>
  <%= f.text_field :password %>
  <br />
  <br />
  <!-- f.submit 'Register', class: 'btn btn-primary' -->
  <%= f.submit object.new_record? ? "Register" : "Update Profile", class: 'btn btn-primary' %>
<% end %>
</div>