<% if @category %>
<h4>All Posts >> <%= @category.name %></h4>
<% else %>
<h4>All Posts</h4>
<% end %>
<hr>

<% object.each do |post| %>
<div class="span8 well">
  <% if post.category_ids.any? %>
    <% post.category_ids.each do |id| %>
    <span class="badge"><%= link_to Category.find(id).name, category_path(Category.find(id).name) %></span>
    <% end %>
  <br />
  <% end %> 
  
  <b><%= link_to post.title, post_path(post) %></b>
  <%= link_to '(edit)', edit_post_path(post) %>
  <br />
  <%= link_to post.url, fix_url(post.url) %>
  <br /> 
  <%= "posted by " + post.creator.username.to_s + " on " + display_time(post.created_at) %>
  <br />
  <%= link_to post.comments.size.to_s + " comments", post_path(post) %>
</div>
<% end %>