<% if @post.category_ids.any? %>
  <% @post.category_ids.each do |id| %>
    <span class="badge"><%= link_to Category.find(id).name, category_path(Category.find(id).name) %></span>
  <% end %>
<% end %>

<h4><%= @post.title %></h4>

<%= @post.description %>
<hr>
<%= link_to @post.url, fix_url(@post.url) %>
<hr>

<%= render 'shared/validation', object: @comment %>

<%= form_for @comment, url: post_comments_path(@post.id) do |f| %>
  <%= f.label :body, 'Leave a Comment' %>
  <%= f.text_area :body %>
  <br />
  <%= f.submit 'Create Comment', class: 'btn btn-primary' %>
<% end %>

<%= render 'shared/comments', object: @post %>


<!-- url: post_comments_path -->
<!-- action: 'create', post_id: @post.id, controller: 'comments' -->
<!-- argument you pass into post_comments_path -->
